*{
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
}

header {
	
	background-size: auto;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin: 90px;
}
ul li{
	margin: 0px;
	padding: 40px;
}

ul li a{
	text-decoration: none;
	color: #000;
	padding-right: 67px;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #FFCC33;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.main {
	  display: flex;
	  list-style: none;
	  width: 30%;
	  justify-content: space-around;
	  align-items: center;
	  margin-right: -20px;
	  padding: 27px 0px;
}
.logo {
	text-align: left;
	top: 50%;
	left: 20%;
	padding: 50px 45px;
}

.logo h1{
	color: #000;
	
 }
 body
{
	display: flex;
	justify-content: center;
	
	min-height: 100vh;
}


