*{
	margin: 0px;
	padding: 0px;
	font-family: The Times New Roman;
}

header {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/g13.jpeg);
	height: 430vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.main {
	  display: flex;
	  list-style: none;
	  width: 30%;
	  justify-content: space-around;
	  align-items: center;
	  margin-left: auto;
	  padding: 27px 0px;
}
.logo {
	text-align: left;
	top: 50%;
	left: 10%;
	padding: 17px 30px;
}

.logo h1{
	color: white;
	
 }
 .row h1{
 	background-color: grey;
 	 color: white;
}
.row p{
	color: white;
 }
}
