*{
	margin: 0px;
	padding: 0px;
	font-family: The Times New Roman;
}

header {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/b2.jpeg);
	background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.main {
	  display: flex;
	  list-style: none;
	  width: 30%;
	  justify-content: space-around;
	  align-items: center;
	  margin-left: auto;
	  padding: 27px 0px;
}
.logo {
	text-align: left;
	top: 50%;
	left: 10%;
	padding: 17px 30px;
}

.logo h1{
	color: white;
	
 }
.tittle {
	position: absolute;
	top: 40%;
	left: 35%;
	transform:  translate(-50%,-50%);
}

.tittle h2{
	color: white;
	font-size: 60px;
 }

 .p h1{
 	margin: 0 auto;
 	width: 50%; 
 	height: 50%;
 }


.imgcon
   {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/about.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed; 
    background-size: 100% 100%;
 }
.carousel {
	width: 1100px;
	height: 500px;
	
}
}

